@use "../../styles/mixins";

.container {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;

  i {
    display: flex;
    justify-content: center;
  }
   
    .title {
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
  
    .inputWrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 15px;
  
      label {
        font-weight: 700;
      }
  
      input {
        font-size: 1.2rem;
        padding: 5px;
      }
    }
  
    .inputRemember {
      margin-bottom: 15px;
  
      label {
        margin-left: 10px;
      }
    }
  
    .signInButton {
      width: 100%;
      font-size: 1.1rem;
      text-decoration: underline;
      color: white;
      background-color: #00bc77;
      border: none;
      padding: 7px;

      @include mixins.btn(8px); 
    }
  }
  
  .error {
    margin: 5px 0;
    color: rgb(177, 2, 2);
  }