@mixin large {
    @media screen and (max-width: 920px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 720px) {
      @content;
    }
  }
  
  @mixin btn($padding) {
    font-weight: bold;
    background-color: #00bc77;
    border: none;
    color: white;
    padding: $padding;
    cursor: pointer;
  }