@use "../../styles/mixins";

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: white;

  @include mixins.mobile {
    flex-direction: column;
  }

  &__content {
    width: 100%;
    flex: 1;

    &__title {
      font-weight: normal;
      font-size: 1rem;
    }

    &__amount {
      font-weight: 700;
      font-size: 2.5rem;
    }
  }

  &__action {
    @include mixins.mobile {
      width: 100%;
      flex: 1;
    }

    &__button {
      @include mixins.btn(9px);
      font-size: 1.1rem;
      font-weight: 700;
      width: 200px;
      margin-top: 1rem;
      -webkit-box-shadow: inset -3px -3px 5px -3px #000000;
      box-shadow: inset -3px -3px 5px -3px #000000;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}